<div class="row">
    <div class="col-md-6 col-sm-6">
      <h4>Todo Items</h4>
      <ul id="todo">
      <% for(let i = 0; i <list.length; i++){%>
        <% if(list[i].status == 0){ %>
          <li>
            <input type="checkbox" name="todo" value="<%= list[i].id%>" onclick='moveTask(event,"<%= list[i].id %>")' /> <%= list[i].item%> 
          </li>
        <%} %>
            
      <%} %>
      </ul>
    </div>

    <div class="col-md-6 col-sm-6">
        <h4>Done Items</h4>
        <ul id="done">
          <% for(var i = 0; i <list.length; i++){%>
            <% if(list[i].status == 1){ %>
            <li><input type="checkbox" name="done" value="<%= list[i].id%>" onclick='moveTask(event,"<%= list[i].id %>")'/> <%= list[i].item%> </li>
            <%} %>
            <%} %>
        </ul>
      </div>