<h2>item</h2>
<form method="GET" action="/task">
    <label for="nameFilter">Filter by Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% for (let i = 0; i < task.length; i++) { %> 
        <% let task = task[i] %>
        <p><%= task.name %></p>
        <p><%= task.type %></p>
        <form method="POST" action="/task/<%= idx %>?_method=DELETE">
            <input type="submit" value='Delete'>
        </form>
        <a href="/task/index/<%= i %>">Update</a>
    <% } %>

    <%= task[0].name %>
</ul>