<h2>List</h2>
<form method="GET" action="/tasklist">
    <label for="nameFilter">Filter by Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% for (let i = 0; i < tasklist.length; i++) { %> 
        <% let tasklist = task[i] %>
        <p><%= tasklist.name %></p>
        <p><%= tasklist.type %></p>
        <form method="POST" action="/tasklist/<%= idx %>?_method=DELETE">
            <input type="submit" value='Delete'>
        </form>
        <a href="/tasklist/index/<%= i %>">Update</a>
    <% } %>

    <%= tasklist[0].name %>
</ul>